<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/people" method="POST">
      <label for="title">Person Name:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">person Age:</label>
      <input type="number" id="snippet" name="snippet" required>
      <label for="body">Favorite Foods:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>